.navbar {
  box-shadow: 0px 2px 8px #00000012;
  opacity: 1;
}

.nav-link {
  color: #14375f !important;

  &.active {
    color: #55acec !important;
  }
}

#button-basic {
  color: #a4afb7;
  cursor: pointer;
  letter-spacing: 0px;
  opacity: 1;
  text-align: left;
  user-select: none;
}

.dropdown-menu {
  left: -72px !important;
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .dropdown-menu {
    left: 0px !important;
  }
}
