<app-campaign-header
  [campaignName]="campaignName"
  [campaignGroupName]="campaignGroupName"
  [campaignLength]="campaignLength"
  *ngIf="campaignData.length > 0"
></app-campaign-header>

<section class="container" *ngIf="campaignData.length > 0">
  <div class="row mt-4 mb-4">
    <div class="col-12">
      <div class="row">
        <tabset [vertical]="true">
          <tab
            heading="{{ campaign.name }}"
            *ngFor="let campaign of campaignData; index as i"
            customClass="customNav"
          >
            <!-- Campaign Info -->
            <div>
              <!-- Instructions -->
              <h5 class="campaign-title">Instructions</h5>
              <ng-container *ngFor="let variant of campaign.itemVariants">
                <div
                  class="instructions mb-3"
                  [innerHTML]="variant.description"
                ></div>
              </ng-container>

              <!-- Optimization -->
              <h5 class="campaign-title">Optimization</h5>
              <accordion [isAnimated]="true">
                <accordion-group *ngFor="let action of campaign.actions">
                  <div class="form-group form-check" accordion-heading>
                    <input
                      type="checkbox"
                      class="form-check-input"
                      id="exampleCheck1"
                    />
                    <label
                      class="form-check-label custom-label"
                      for="exampleCheck1"
                    >
                      {{ action.name }}
                    </label>

                    <span class="arrow float-right pull-right">
                      <i class="fas fa-caret-down"></i>
                    </span>
                  </div>

                  <div
                    class="mb-2"
                    [innerHTML]="variant.description"
                    *ngFor="let variant of action.actionVariants"
                  ></div>
                </accordion-group>
              </accordion>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</section>
